{{#if updateBookForm}}
  <h4>Update {{book.postedBy}} 's post on {{book.title}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="postedBy">Posted by</label>
        {{input value=postedBy id="postedBy"}}
      </div>

      <div class="form-group">
        <label for="review">Write your review here</label>
        {{input value=review id="review"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button class="btn btn-warning" {{action 'update' book}}>Update Post</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-warning" {{action 'updateBookForm' book}}>edit entry</button>
  <br>
{{/if}}
